.tabs {
  width: 100%;
}

.tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.tab-list-item {
  padding: 10px 15px;
  cursor: pointer;
  border: 1px solid transparent;
  border-bottom: none;
  margin-bottom: -1px; /* Overlap border with tab-list border */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #f1f1f1;
}

.tab-list-item:hover {
  background-color: #e2e2e2;
}

.tab-list-active {
  background-color: #fff;
  border-color: #ccc;
  border-bottom: 1px solid #fff;
}

.tab-content-container {
  padding: 15px;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
