apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-api
  namespace: shopping-admin
spec:
  replicas: 1 # 관리용이므로 1개로 시작 (필요 시 증설)
  selector:
    matchLabels:
      app: admin-api
  template:
    metadata:
      labels:
        app: admin-api
    spec:
      containers:
      - name: admin-api
        image: yongsuchang/shopping-admin-api:test
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql-service.shopping-db:3306/shopping_admin?createDatabaseIfNotExist=true"
        # AWS Parameter Store Configuration
        - name: AWS_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-param-store-secret
              key: AWS_ACCESS_KEY_ID
        - name: AWS_SECRET_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: aws-param-store-secret
              key: AWS_SECRET_ACCESS_KEY
        - name: AWS_REGION
          valueFrom:
            secretKeyRef:
              name: aws-param-store-secret
              key: AWS_REGION
---
apiVersion: v1
kind: Service
metadata:
  name: admin-api-service
  namespace: shopping-admin
spec:
  selector:
    app: admin-api
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP
