apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-api
  namespace: shopping-mall
spec:
  replicas: 2
  selector:
    matchLabels:
      app: admin-api
  template:
    metadata:
      labels:
        app: admin-api
    spec:
      containers:
      - name: admin-api
        image: shopping-admin-api:latest # 빌드 후 태그 이미지명
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8081
        env:
        - name: SPRING_DATASOURCE_URL
          value: "jdbc:mysql://mysql-service:3306/shopping_admin?createDatabaseIfNotExist=true"
        - name: SPRING_DATASOURCE_USERNAME
          value: "root"
        - name: SPRING_DATASOURCE_PASSWORD
          valueFrom:
            secretKeyRef:
              name: shopping-secrets
              key: mysql-root-password
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: shopping-secrets
              key: jwt-secret
---
apiVersion: v1
kind: Service
metadata:
  name: admin-api-service
  namespace: shopping-mall
spec:
  selector:
    app: admin-api
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP
