.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: help;
}

.tooltip-content {
  position: absolute;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px 10px;
  border-radius: 6px;
  z-index: 1001; /* Ensure it's above other content */
  bottom: 125%; /* Position above the text */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap; /* Prevent text wrapping */
  
  /* Arrow styling */
  &::after {
    content: "";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
  }
}
