spring:
  application:
    name: shop-api
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3306/shopping?serverTimezone=UTC&characterEncoding=UTF-8
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: yongsu
    password: admin12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQL8Dialect

server:
  port: 8082

jwt:
  secret: v9y$B&E)H@McQfTjWnZr4u7x!A%C*F-JaNdRgUkXp2s5v8y/B?E(G+KbPeShVmYq
  expiration: 86400000 # 24 hours

cors:
  allowed-origins: "http://localhost:5173,http://127.0.0.1:5173"
