.sidebar {
  height: 100%;
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Stay on top */
  top: 0;
  left: 0;
  background-color: var(--color-black); /* Using black for sidebar background */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.sidebar.open {
  width: 250px; /* Set a width when opened */
}

.sidebar-close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: var(--font-size-xl); /* Using XL for close button */
  margin-left: 50px;
  background: none;
  border: none;
  color: var(--color-white);
  cursor: pointer;
}

.sidebar-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-links li a {
  padding: 8px 8px 8px 32px; /* Can adjust with spacing variables if more granular control is desired */
  text-decoration: none;
  font-size: 25px; /* Can adjust with font-size variables if more granular control is desired */
  color: var(--color-secondary); /* Using secondary for inactive links */
  display: block;
  transition: 0.3s;
}

.sidebar-links li a:hover {
  color: var(--color-light-gray); /* Using light gray for hover */
}
